<h2>What's your opinion?</h2>
<form class="form-container" [formGroup]="userReactionForm" (ngSubmit)="onSubmit()">
  <label for="username"></label>
  <input type="text" id="username" name="username" formControlName="username">
  <div *ngIf="userReactionForm.get('username')?.invalid && userReactionForm.get('username')?.touched">
    <small>Username should be at least 6 characters</small>
  </div>
  <button type="button" class="button button--primary" (click)="suggestUsername()">Suggest username</button>
  <p>Share your thoughts:</p>
  <textarea name="yourThoughts" formControlName="yourThoughts"></textarea>
  <div formGroupName="questions">
    <label for="did-you-read">Did you read the whole article?</label>
    <select id="did-you-read" name="didYouRead" formControlName="didYouRead">
      <option *ngFor="let option of didYouReadOptionsKeys; let i = index" [value]="option">{{didYouReadOptionsValues[i]}}</option>
    </select>
    <div>
      <p>Do you reside in the USA?</p>
      <label *ngFor="let option of residenceOptions">
        <input type="radio" name="residence" class="radio-input" [value]="option" formControlName="residence">
        {{option}}
      </label>
    </div>
  </div>
  <button type="submit" class="button button--primary">Submit</button>
</form>
