@import "../../../../scss/abstracts/variables";

.articles-container {
  margin-top: 20px;
  display: grid;
  gap: 20px;
}

mat-paginator {
  background: linear-gradient(160deg, rgb(190, 166, 255) 0%, rgb(107, 4, 253) 100%);

  ::ng-deep {
    * {
      color: white;
      border-color: white !important;
    }

    .mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
      fill: rgba(255,255,255,.25);
    }

    svg {
      fill: white;
    }
  }
}

@media (min-width: $_large-tablet) {
  .articles-container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
  }
}

@media (min-width: $_regular-tablet) {
  .article-1 {
    grid-area: 1 / 1 / 2 / 3;

    &.tile{
      background-image: linear-gradient(-20deg, rgb(190, 166, 255) 0%, rgb(107, 4, 253) 100%);
    }

    .tile-subcontainer {
      width: 48%
    }
  }

  .article-2 {
    grid-area: 1 / 3 / 3 / 4;

    &.tile{
      background-image: linear-gradient(73deg, rgb(190, 166, 255) 0%, rgb(107, 4, 253) 100%);
    }
  }

  .article-3 {
    grid-area: 2 / 1 / 3 / 3;
    flex-direction: row-reverse;

    &.tile{
      background-image: linear-gradient(224deg, rgb(190, 166, 255) 0%, rgb(107, 4, 253) 100%);
    }

    .tile-subcontainer {
      width: 48%
    }
  }

  .article-4 {
    grid-area: 3 / 1 / 5 / 2;

    &.tile{
      background-image: linear-gradient(-58deg, rgb(190, 166, 255) 0%, rgb(107, 4, 253) 100%);
    }
  }

  .article-5 {
    grid-area: 3 / 2 / 4 / 4;
    flex-direction: row-reverse;

    &.tile{
      background-image: linear-gradient(73deg, rgb(190, 166, 255) 0%, rgb(107, 4, 253) 100%);
    }

    .tile-subcontainer {
      width: 48%
    }
  }

  .article-6 {
    grid-area: 4 / 2 / 5 / 4;

    &.tile{
      background-image: linear-gradient(224deg, rgb(190, 166, 255) 0%, rgb(107, 4, 253) 100%);
      background-image: linear-gradient(73deg, rgb(190, 166, 255) 0%, rgb(107, 4, 253) 100%);
    }

    .tile-subcontainer {
      width: 48%
    }
  }
}

a {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-paginator {
  border-radius: 24px;
  padding-left: 16px;
}

.tile {
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(180deg, rgb(190, 166, 255) 0%, rgb(107, 4, 253) 100%);
  height: auto;
  grid-gap: 15px;
  padding: 15px;
  box-sizing: border-box;

  &:hover {
    .tile-title {
      background: unset;
      transform: unset;
    }
  }

  &-subcontainer {
    width: 374px;
    height: 300px;

    p {
      font-weight: 200;
    }

    &--photo {
      overflow: hidden;
      border-radius: 16px;
    }
  }
}

.tile-title {
  font-size: 22px;
  line-height: 1.25;
  padding: 0;
  height: auto;
  position: relative;
  background: none;
  font-family: "Lexend Deca", sans-serif;
  overflow: hidden;
  align-items: flex-start;
}

.tile-desc {
  line-height: 1.25;
  height: auto;
  position: relative;
  background: none;
  color: white;
  font-family: "Lexend Deca", sans-serif;
  overflow: hidden;
  align-items: flex-start;
  font-size: 20px;
}

@media (max-width: $_regular-tablet) {
  .articles-container {
    grid-template-columns: 1fr 1fr;
  }

  .tile-subcontainer {
    &:not(.tile-subcontainer--photo) {
      height: fit-content;
    }
  }

  .tile {
    width: min-content;
  }
}

@media (max-width: $_small-tablet) {
  .articles-container {
    grid-template-columns: 1fr;
  }

  .tile-subcontainer {
    width: 48%;
  }

  .tile {
    width: auto;
  }

  h1 {
    flex-direction: column;
  }

  mat-paginator {
    margin-top: 15px;
    width: fit-content;
  }
}

@media (max-width: $_mobile-huge) {
  .tile {
    max-width: 330px;
  }

  .tile-subcontainer {
    width: fit-content;
    &--photo {
      height: 200px;
    }
  }

  mat-paginator {
    max-width: 245px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: unset;
  }
}

@media (max-width: $_mobile-big) {
  .tile {
    min-width: unset;
    width: 100%;
  }
}
