<section>
  <h1>
    {{functionality | capitalize}}
    <mat-paginator [pageSize]="paginationOptions.pageSize"
                   [pageSizeOptions]="paginationOptions.pageSizeOptions"
                   [length]="paginationOptions.defaultLength">
    </mat-paginator>
  </h1>
  <div class="articles-container" *ngIf="(loaded$ | async) as loaded">
    <a class="tile button" *ngFor="let contentItem of selectedPage; let i = index" [ngClass]="i < 6 ? 'article-'+(i+1) : ''"
       (click)="toContentItem((paginator.pageSize * paginator.pageIndex) + i)">
      <div class="tile-subcontainer tile-subcontainer--photo">
        <img src="{{contentItem.image}}">
      </div>
      <div class="tile-subcontainer">
        <h3 class="tile-title">{{contentItem.title}}</h3>
        <p class="tile-desc">{{contentItem.abstract | shorten }}</p>
      </div>
    </a>
  </div>
</section>
