form {
  * {
    margin-top: 10px;
  }

  .radio-input {
    display: inline-block;
  }

  textarea {
    width: 100%;
  }
}

@media (max-width: $_large-tablet) {
  form {
    max-width: 600px;
  }
}
