<section>
  <div class="tiles-container" >
    <div class="present-features">
      <a class="tile" *ngFor="let functionality of functionalitiesReady" routerLink="{{functionality.url}}">
        <img src="{{functionality.imageUrl}}">
        <p class="tile-title">{{functionality.name}}</p>
      </a>
    </div>
    <div class="coming-features">
      <a class="tile soon" *ngFor="let functionality of functionalitiesComingSoon">
        <img src="{{functionality.imageUrl}}">
        <p class="tile-title">{{functionality.name}} <br/> Coming soon</p>
      </a>
    </div>
  </div>
</section>
