@import "src/scss/abstracts/variables";

.tiles-container {
  max-width: 900px;
  display: block;
  width: 100%;
  margin-inline: auto;
  column-gap: 20px;
  background-image: linear-gradient(-67deg, $main-gradient);
  padding: 24px;
  border-radius: 24px;
  box-sizing: border-box;
}

.present-features, .coming-features {
  display: flex;
  gap: 25px;
}

.coming-features {
  margin-top: 25px;
}

.tile {
  height: 275px;
  border-radius: 16px;

  &-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5rem;
  }
}

@media (max-width: $_small-tablet) {
  .present-features, .coming-features {
    flex-wrap: wrap;
  }

  .tiles-container {
    padding: 14px;
  }
}
