@import "src/scss/abstracts/variables";

.tiles-container {
  max-width: 750px;
  display: block;
  width: 100%;
  margin-inline: auto;
  column-gap: 20px;
}

.present-features, .coming-features {
  display: flex;
  gap: 30px;
}

.coming-features {
  margin-top: 30px;
}

.tile {
  height: 250px;
}

@media (max-width: $_small-tablet) {
  .present-features, .coming-features {
    flex-wrap: wrap;
  }
}
