@import "src/scss/abstracts/variables";

.tiles-container {
  max-width: 750px;
  display: block;
  width: 100%;
  margin-inline: auto;
  column-gap: 20px;
}

.present-features, .coming-features {
  display: flex;
  gap: 25px;
}

.coming-features {
  margin-top: 25px;
}

.tile {
  height: 250px;

  &-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5rem;
  }
}

@media (max-width: $_small-tablet) {
  .present-features, .coming-features {
    flex-wrap: wrap;
  }
}
