@import "src/scss/main";

form {
  display: grid;
}

.questions-container {
  display: grid;
}

.radio-label {
  color: $white-primary;
}

::ng-deep mat-radio-group {
  label {
    color: $white-primary;
  }
}
