@import "src/scss/main";

:host {
  display: block;
  background: $grey-secondary;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 150px 24px;
  box-sizing: border-box;
  max-width: 660px;
}

h2 {
  color: $beige;
  font-size: 39px;
  letter-spacing: 0.03em;
  line-height: 1em;
  font-weight: 500;
}

h2 + mat-form-field {
  margin-top: 16px;
}

.button, mat-form-field {
  height: fit-content;
}

.questions-container {
  display: grid;
}

.radio-label {
  color: $beige;
}

::ng-deep mat-radio-group {
  label {
    color: $beige;
  }
}

@media (max-width: $_small-tablet) {
  form {
    min-height: fit-content;
    padding: 50px 24px;
    max-width: unset;
  }
}
