* {
  font-family: "Lexend Deca", sans-serif;
}

body {
  background-color: $grey-primary;
}

main {
  margin: 40px auto;
  padding: 64px 16px 0;
}

section, .navbar-container {
  margin-inline: auto;
  max-width: 1200px;
  width: 100%;
}

a {
  display: block;
}

mat-spinner {
  margin-inline: auto;
  width: 100px;
  height: 100px;
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media (max-width: $_small-tablet) {
  main {
    padding-inline: 20px;
  }
}
