* {
  font-family: "Lexend Deca", sans-serif;
}

body {
  background-color: $grey-primary;
}

main {
  position: relative;
  margin: 120px auto;
  padding-inline: 60px;
}

section {
  max-width: 1200px;
  margin-inline: auto;
}

a {
  display: block;
}

mat-spinner {
  margin-inline: auto;
}

@media (max-width: $_small-tablet) {
  main {
    padding-inline: 20px;
  }
}
