.mat-typography h1, h2, h3, p, span, .button, button {
  font-family: InterTight, sans-serif;
  color: $white-primary;
}

.mat-typography h1 {
  font-size: 32px;
  letter-spacing: 2px;
  color: $black-primary;
}

.mat-typography h2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2px;
}

.mat-typography h3 {
  font-weight: 300;
  letter-spacing: 1px;
}

.mat-typography .button {
  font-weight: 300;
  letter-spacing: 2px;
}

.mat-typography .mat-toolbar p {
  font-weight: 400;
}

.mat-typography p {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.5rem;
}

@media (max-width: $_large-tablet) {
  .mat-typography h1 {
    font-size: 28px;
  }

  .mat-typography h2 {
    font-size: 22px;
  }

  .mat-typography p {
    font-size: 20px;
  }
}
