nav {
  position: relative;
  z-index: 9999;
  width: 100%;
  position: fixed;
  top: 0;
  background: red;
  color: #ffffff;

  .nav-content {
    padding: 15px 0;
    margin-inline: auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 25px;
  }
}

.the-latest-link {
  text-decoration: unset;
  color: #ffffff;
}
