$black-primary: #000000;
$white-primary: #ffffff;
$grey-primary: #f5f5fb;
$main-gradient: rgb(190, 166, 255) 0%, rgb(107, 4, 253) 100%;

// breakpoints
$_small-desktop: 1440px;
$_large-tablet: 1260px;
$_regular-tablet: 960px;
$_small-tablet: 860px;
$_mobile-huge: 600px;
$_mobile-big: 450px;
$_mobile-small: 375px;

