$black-primary: #0b0d0f;
$white-primary: #ffffff;
//$grey-primary: #566058;
$grey-primary: #1b1c1f;
$main-gradient: rgb(190, 166, 255) 0%, rgb(107, 4, 253) 100%;
$beige: #e5d9cf;

// breakpoints
$_small-desktop: 1440px;
$_large-tablet: 1260px;
$_regular-tablet: 960px;
$_small-tablet: 860px;
$_mobile-huge: 600px;
$_mobile-big: 450px;
$_mobile-small: 375px;

