$black-primary: #000000;
$white-primary: #ffffff;
$grey-primary: #f5f5fb;

// breakpoints
$_small-desktop: 1440px;
$_large-tablet: 1200px;
$_small-tablet: 800px;
$_mobile-big: 450px;
$_mobile-small: 375px;

