mat-toolbar {
  background-image: $navbar-gradient !important;
  z-index: 999;
  position: fixed;
  top: 0;
  transition: .2s all ease-in;

  &.navbar--hide {
    transform: translateY(-64px);
  }
}

.the-latest-link {
  display: flex;
  align-items: center;
  text-decoration: unset;
  color: $white-primary;

  p {
    margin-bottom: 0;
    letter-spacing: 5px;
    font-weight: 500;
  }
}
