mat-toolbar {
  background-image: linear-gradient(329deg, rgb(190, 166, 255) 35%, rgb(107, 4, 253) 100%) !important;
  z-index: 999;
  position: fixed;
  top: 0;
  transition: .2s all ease-in;

  &.navbar--hide {
    transform: translateY(-64px);
  }
}

.the-latest-link {
  display: flex;
  align-items: center;
  text-decoration: unset;
  color: $white-primary;

  p {
    margin-left: 10px;
    margin-bottom: 0;
  }
}
