mat-toolbar {
  background-image: linear-gradient(329deg, rgb(190, 166, 255) 35%, rgb(107, 4, 253) 100%) !important;
}

.the-latest-link {
  display: flex;
  align-items: center;
  text-decoration: unset;
  color: $white-primary;

  p {
    margin-left: 10px;
    margin-bottom: 0;
  }
}

@media (max-width: $_small-tablet) {
  nav {
    .nav-content {
      padding-inline: 20px;
    }
  }
}
