@import "../../../../scss/abstracts/variables";

h1 + .button {
  margin-top: 10px;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin-top: 50px;
}

.abstract {
  font-size: 24px;
}

.abstract + img {
  margin-top: 20px;
}

@media (max-width: $_large-tablet) {
  .content-container {
    grid-template-columns: 1fr;
    grid-column-gap: 30px;
  }

  img {
    max-width: 600px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
