@import "src/scss/main";

section {
  background: $orange-red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.opinion-section {
  border-radius: 15px;
  padding: 18px;
  display: grid;
  column-gap: 60px;
  box-sizing: border-box;
  max-width: 660px;

  a {
    text-decoration: none;
    background: rgba($black-primary,.35);
    border-radius: 15px;
    padding: 6px 12px;
    margin-top: 10px;
    transition: .3s all;

    &:hover {
      background: rgba($black-primary,.67);
    }
  }
}

h2 {
  font-size: 36px;
  line-height: 1em;
  font-weight: 600;
  color: $beige;
}

h2 + div {
  margin-top: 16px;
}

.opinion-container {
  padding: 12px 15px;
  background: rgba($black-primary,.25);
  border-radius: 15px;

  &:not(:first-of-type) {
    margin-top: 10px;
  }

  p {
    font-size: 18px;
    margin-bottom: 4px;
    line-height: 1rem;
  }

  span {
    font-size: 15px;
    line-height: 1rem;
    color: $beige;
  }
}

@media (max-width: $_small-tablet) {
  section {
    min-height: fit-content;
  }

  h2 {
    margin-bottom: 20px;
  }

  .opinion-section {
    grid-template-columns: 1fr;
    max-width: unset;
  }

  .opinion-container {
    p {
      font-size: 14px;
    }

    span {
      font-size: 12px;
    }
  }
}
